.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "header header header" 
  "section title article";
}

.section { grid-area: section; }

.title { grid-area: title; }

.article { grid-area: article; }

.header { grid-area: header; }